.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: white;

    &.active {
        color: blue;
    }
}

.logo {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
  .input-group{
    height: 50px;
    border-radius: 30px;
    outline-width: 1px;
    outline-color: white;
    margin-left: 50px;
    align-items: center;
    border: solid 1px;
    border-color: white;
    background-color: white;
    }

    .search_input{
    border: 0;
    outline: 0;
    background: none;
    width: 750px;
    caret-color:red;
    line-height: 40px;
    }


    .input-group:hover > .search_icon{
    background: rgb(56, 56, 56);;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
    }

.navbar-dark {
    background-color: rgb(56, 56, 56);
}

.custom-select {
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 200px;
    background-color: white;
    border: solid 1px;
    height: 48px;
}
